body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

header {
    background-color: darkred;
    color: white;
    padding: 20px;
}

nav a {
    margin: 10px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
}

input, select, button {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

button {
    background-color: darkred;
    color: white;
    border: none;
}